<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="BlockMinutes" value="25" />
    <add key="BufferMinutes" value="5" />
    <add key="BeginDayTime" value="0800" />
    <add key="LunchTime" value="1200" />
    <add key="CoffeeBreakTime" value="1500" />
    <add key="EndDayTime" value="1700" />
  </appSettings>
</configuration>