<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="BlockMinutes" value="25" />
    <add key="BufferMinutes" value="5" />
    <add key="BeginDayHour" value="08" />
    <add key="BeginDayMinute" value="00" />
    <add key="LunchTimeHour" value="12" />
    <add key="LunchTimeMinute" value="30" />
    <add key="CoffeeBreakHour" value="15" />
    <add key="CoffeeBreakMinute" value="00" />
    <add key="EndDayHour" value="17" />
    <add key="EndDayMinute" value="00" />
  </appSettings>
</configuration>